<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/icon.png">
        <title>About</title>
        <link rel="stylesheet" href="./CSS/style.css">    </head>
    <body>
        <div class="main">
            {{>header}}
            <p>This site is created by Anurag Kotwal. API used for fetching weather :- mapbox.com and weatherstack.com </p>
            <img class="portrait" src="./img/me.jpg">
            <a href="https://github.com/anuragkotwal">Follow me on Github</a>
        </div>
        {{>footer}}
    </body>

</html>