<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/icon.png">
        <title>About</title>
        <link rel="stylesheet" href="./CSS/style.css">    </head>
    <body>
        <div class="main">
            {{>header}}
            <img class="portrait" src="./img/me.jpg">
        </div>
        {{>footer}}
    </body>

</html>