<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/icon.png">
        <title>Error</title>
        <link rel="stylesheet" href="/CSS/style.css"> 
    </head>
    <body>
        <div class="main">
            {{>header}}
            <p>{{error}}</p>
        </div>
        {{>footer}}
        
    </body>

</html>