<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="./CSS/style.css">    
 </head>
    <body>
       <div class="main">
            {{>header}}
            <p>This is help page</p>
        </div>
        {{>footer}}
    </body>

</html>