<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/icon.png">
        <title>Weather</title>
        <link rel="stylesheet" href="/CSS/style.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <p>Weather page</p>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="msg1"></p>
            <p id="msg2"></p>
            <p id="msg3"></p>
            <p id="msg4"></p>

        </div>
        {{>footer}}
                <script src="./js/aap.js"></script>
    </body>

</html>